$text-color: #FFFFFF;
$banner-background: #252B49;
$backgroun-secondary: #FF4343;
$header-border: #BABBC5;
$feature-title: #2D3033;
$feature-text: #6C7279;
$backgroun-works: rgba(255, 67, 67, 0.8);
$download-text: #000000;

@mixin font($size, $line-height, $weight: 400) {
   font-size: $size;
   line-height: $line-height;
   font-weight: $weight;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

body {
   font-family: "Raleway", sans-serif;
}

.container {
   max-width: 1200px;
   width: 100%;
   padding: 0px 15px;
   margin: 0 auto;

   @media screen and (max-width: 1024px) {
      padding: 0px 20px;
   }
}

.banner {
   padding: 230px 0px 120px;
   background-image: url(../src/banner.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;

   @media screen and (max-width: 1024px) {
      padding: 257px 0 126px;
   }

   &::before {
      content: '';
      display: block;
      background-color: $banner-background;
      opacity: 0.8;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
   }

   &__container {
      position: relative;
      color: $text-color;
   }

   &__title {
      @include font(64px, 75px, 900);
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 31.5px;

      @media screen and (max-width: 1024px) {
         @include font(48px, 56px, 900);
         margin-bottom: 62px;
      }
   }

   &__info {
      @include font(24px, 28px);
      text-align: center;
      margin-bottom: 79.5px;

      @media screen and (max-width: 1024px) {
         @include font(18px, 21px);
         margin-bottom: 89px;
      }
   }

   &__link {
      display: block;
      text-align: center;
      text-transform: uppercase;
      @include font(24px, 28px, 900);
      color: $text-color;
      background-color: $backgroun-secondary;
      max-width: 370px;
      padding: 26px;
      margin: 0 auto;

      @media screen and (max-width: 1024px) {
         max-width: 314px;
      }
   }
}

.header {
   position: absolute;
   left: 0;
   top: 0;
   padding: 38px 0px 36px;
   width: 100%;
   z-index: 1;
   border-bottom: 1px solid $header-border;

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__toggle {
      display: none;
   }
}

.nav {
   &__list {
      display: flex;
      column-gap: 38px;
      list-style-type: none;

      @media screen and (max-width: 1024px) {
         column-gap: 25px;
      }
   }

   &__link {
      color: $text-color;
      @include font(13px, 15px, 700);
      text-transform: uppercase;

      @media screen and (max-width: 1024px) {
         @include font(12px, 14px, 700);
      }
   }
}

.features {
   padding: 100px 0;

   @media screen and (max-width: 1024px) {
      padding: 80px 0;
   }

   &__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 31px;
      row-gap: 88px;

      @media screen and (max-width: 1024px) {
         column-gap: 20px;
         row-gap: 50px;
      }
   }

   &__feature {
      aspect-ratio: 370/305.5;
      text-align: center;
      overflow: hidden;

      @media screen and (max-width: 1024px) {
         aspect-ratio: 315/237;
      }
   }

   &__icon {
      width: 100px;
      height: 100px;
      margin: 0 auto 51px;
      overflow: hidden;
      object-fit: cover;

      @media screen and (max-width: 1200px) {
         width: 85px;
         height: 85px;
         margin: 0 auto 43.5px;
      }

      @media screen and (max-width: 1023px) {
         width: 70px;
         height: 70px;
         margin: 0 auto 25px;
      }

      @media screen and (max-width: 900px) {
         width: 50px;
         height: 50px;
         margin: 0 auto 18px;
      }
   }

   &__logo {
      width: 100%;
      height: 100%;
   }

   &__title {
      color: $feature-title;
      @include font(24px, 28px, 900);
      text-transform: uppercase;
      margin-bottom: 42px;

      @media screen and (max-width: 1200px) {
         @include font(18px, 21px, 900);
         margin-bottom: 23.5px;
      }

      @media screen and (max-width: 1000px) {
         @include font(17px, 20px, 900);
         margin-bottom: 14px;
      }
   }

   &__info {
      color: $feature-text;
      @include font(18px, 21px);

      @media screen and (max-width: 1200px) {
         @include font(14px, 16px);
      }

      @media screen and (max-width: 1000px) {
         @include font(12px, 14px);
      }
   }
}

.works {
   &__container {
      max-width: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
   }

   &__item {
      aspect-ratio: 378/340;
      overflow: hidden;
      border: 1px solid $text-color;
      position: relative;

      @media screen and (max-width: 1024px) {
         aspect-ratio: 257/230;
      }
   }

   &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $backgroun-works;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 36.5px;
      opacity: 0;

      @media screen and (max-width: 1024px) {
         row-gap: 22.5px;
      }

      &:hover {
         opacity: 1;
      }
   }

   &__title {
      color: $text-color;
      @include font(24px, 28px, 900);
      text-transform: uppercase;

      @media screen and (max-width: 1024px) {
         @include font(18px, 21px, 900);
      }
   }

   &__info {
      color: $text-color;
      @include font(18px, 21px);

      @media screen and (max-width: 1024px) {
         @include font(14px, 16px);
      }
   }

}

.download {
   padding: 170px 0;

   @media screen and (max-width: 1024px) {
      padding: 127px 0;
   }

   &__title {
      color: $download-text;
      @include font(30px, 35px, 500);
      text-align: center;
      margin-bottom: 22px;

      @media screen and (max-width: 1024px) {
         @include font(24px, 28px, 500);
         margin-bottom: 21px;
      }

   }

   &__info {
      color: $download-text;
      @include font(18px, 21px, 700);
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 50px;

      @media screen and (max-width: 1024px) {
         @include font(14px, 16px, 700);
         margin-bottom: 45px;
      }
   }

   &__link {
      display: block;
      text-align: center;
      text-transform: uppercase;
      @include font(24px, 28px, 900);
      color: $text-color;
      background-color: $backgroun-secondary;
      max-width: 370px;
      padding: 25px;
      margin: 0 auto;

      @media screen and (max-width: 1024px) {
         max-width: 565px;
         @include font(18px, 21px, 900);
         padding: 28px 10px 29px;
      }
   }
}

/*font-family: "Raleway", sans-serif;*/